/* Shared Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 200px;
    /* width: 80%; */
}

/* Styling containers */

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(7, 100px);
    gap: 10px;
}

.imageContainer{
    border: 2px solid red;
}

.textContainer{
    border: 2px solid blue;
}

.image1{
    grid-column: 1/ span 6;
    grid-row: 1/ span 6;
}

.image2{
    grid-column: 7/ span 3;
    grid-row: 1/ span 2;
}

.image3{
    grid-column: 7/ span 3;
}

.image4{
    grid-column: 7/ span 1;
    grid-row: 4/ span 1;
}

.image5{
    grid-column: 8/ span 1;
}

.image6{
    grid-column: 9/ span 1;
}